# Ignore the Python environment inside the backend folder
backend/venv/

# Ignore Python cache files everywhere
**/__pycache__/
*.pyc

# Ignore the database inside the backend folder
backend/vectorstore/

# Ignore environment variables
.env